.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(29, 27, 27, 0.6);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalCard {
  width: 50%;
  max-width: 40rem;
  padding: 0 0 1rem;

  display: flex;
  flex-direction: column;
}

.modalCard h2 {
  background-color: #741188;
  color: white;
  margin: 0;
  padding: 1rem;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modalCard p,
.modalCard button {
  margin: 1rem;
}
.modalCard button {
  align-self: flex-end;
}
